@import '../../style.scss';

.navbar{
    @include themify($themes) {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    height: 30px;
    border-bottom: 0.5px solid lightgray;
    position: sticky;
    z-index: 999;   
    background-color: themed("bg");
    color: themed("textColor"); 

    .left{
        display: flex;
        align-items: center;
        gap: 30px;

        .logo{
            font-weight: bold;
            color: themed("logo");
        }
    }

    .right{
        display: flex;
        align-items: center;   
        gap: 30px;
        padding-right: 10px;
    }
}
}